.A {
    background-color: rgb(159, 120, 10);
}
.B {
    background-color: rgba(228, 191, 132, 0.966);
}
.C {
    background-color: rgba(195, 95, 246, 0.317);
}
.D {
    background-color: brown;
}
.E {
    background-color: rgb(227, 227, 47);
}
.F {
    background-color: blueviolet;
}
.G {
    background-color: rgb(43, 175, 25);
}
.h {
    background-color: rgb(230, 30, 30);
}
.I {
    background-color: blue;
}
.J {
    background-color: green;
}
.K {
    background-color: aqua;
}
.L {
    background-color: yellow;
}
.M {
    background-color: rgb(255, 187, 0);
}
.N {
    background-color: rgba(85, 225, 122, 0.678);
}
.O {
    background-color: rgb(168, 103, 230);
}
.P {
    background-color: rgba(193, 225, 237, 0.585);
}
td {
    text-align: center;
}
.pra {
    color: blueviolet;
    background-color: rgb(185, 141, 225);
    text-align: center;
}
h3 {
    color: red;
}
footer {
    height: 60px;
    width: 100%;
    color: white;
    background-color: green;
    text-align: center;
    font-size: 40px;
    margin-bottom: 100px;
    margin-top: 50px;
}